*{
	font-family: "Tahoma", sans-serif;
	color: #333333;
}
.header{
	margin-top: 120px;
	text-align: center;
	font-size: 24px;
}
.header span, .feature h2{
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.7;
}
.video, .form{
	margin-top: 85px;
}
.form{
	margin-left: 35px;
	border: 5px solid #2727d9;
	height: 306px;
	padding: 0 30px;
}
.form p{
	margin-top: 35px;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: bold;
}
.form input{
	height: 48px;
	padding-left: 6px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
	margin-bottom: 10px;
	border: 1px solid #333333;
}
.button{
	height: 63px;
	font-size: 18px;
	margin-bottom: 30px;
	background-color: #2727d9;
}
.feature h2{
	margin-top: 150px;
	margin-bottom: 85px;
}
.feature p{
	font-size: 15px;
	font-weight: bold;
	padding: 15px;
}
.feature img{
	width: auto;
	height: 75px;
	padding: 5px;
}
.row button{
	margin-top: 96px;
}
.customers h2{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	margin-top: 95px;
	margin-bottom: 75px;
}
.row img{
	margin: 0 15px 36px 0;
}