*{
	box-sizing: border-box;
	font-family: Tahoma, sans-serif;
	color: #333333;
}
.header h1{
	margin-top: 120px;
	text-align: center;
	font-size: 24px;
	line-height: 1.7;
}
.header p{
	font-weight: bold;
	text-transform: uppercase;
}
.main{
	text-align: center;
}
.video, .form{
	display: inline-block;
	margin-top: 83px;
}
.form{
	width: 350px;
	height: 310px;
	margin-left: 35px;
	vertical-align: top;
	border: solid 5px #2727d9;

}
.form p{
	padding: 30px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.form input{
	width: 300px;
	height: 50px;
	margin-bottom: 10px;
	padding: 15px;
	font-size: 18px;
	border: solid 1px black;
}
.btn{
	width: 300px;
	height: 75px;
	font-size: 18px;
	color: white;
	background-color: #2727d9;
}
.section h2{
	margin-top: 140px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
.feature{
	text-align: center;
	margin-top: 85px;
}
.col{
	display: inline-block;
	margin: 20px 20px;

}
.col p{
	margin-top: 25px;
	text-align: center;
	font-weight: bold;
}
.button{
	display: block;
	margin-top: 100px;
	text-align: center;
}
.customers{
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}
.customers h2{
	margin-bottom: 75px;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;

}
.box{
	margin: 10px;
	display: block;
}
.photos{
	display: inline-block;
	padding: 10px;
}
