@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Regular.woff2') format('woff2'),
        url('MyriadPro-Regular.woff') format('woff'),
        url('MyriadPro-Regular.ttf') format('truetype'),
        url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@dark-text: #000000;
@light-text: #ffffff;
@border-color: #03a5da;
@ask-password: #c51f03;
@box-color: #6f6d6d;
.mpro(){
  font-family: "Myriad Pro", sans-serif;
}

body{
  background: url(../img/bg.jpg) center repeat;
  background-size: 100%;
  background-attachment: fixed;
  .mpro();
}
.container{
  margin-top: 10rem;
  transform: translateX(20%);
}
.main{

  &-input{
    display: block;
    margin: 0 0 2rem 6rem;
    padding: 2rem;
    width: 48rem;
    height: 6rem;
    font-size: 2.4rem;
    color: @light-text;
    background:url(../img/input.png) center no-repeat;
    border: none;
  }
  &-form{
    transform: translateY(30%);
    p{
      font-size: 1.7rem;
      font-weight: 600;
    }
    .ask{
      margin: 1rem 0 0 8rem;
      color: @ask-password;
    }
    .box{
      margin: 4rem 0 0 7rem;
      color: @box-color;
      input{
        transform: translateY(25%);
        width: 1.7rem;
        height: 1.7rem;
      }
    }
  }
}
.reg-form{
  transform: translateY(20%);
}
.tab-content{
  width: 66rem;
  height: 45rem;
  background-color: @dark-text;
  border: 2rem solid @border-color;
}
.nav-tabs{
  width: 66rem;

}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: @light-text;
  background-color: @border-color;
}
.nav-tabs{
  a{
    font-size: 2.4rem;
    font-weight: 700;
    color:  @dark-text;
    background-color: @light-text;
  }
}
.button{
  margin-left: 51rem;
}
.enter-button{
  width: 16rem;
  height: 6rem;
  z-index: 99;
  font-size: 2.8rem;
  color: @light-text;
  font-weight: 600;
  background: url(../img/btn_enter.png) center no-repeat;
  background-size: cover;
  border: none;
  transform: translateY(-160%);
}

@media(max-width: 1200px){
  body{
      background-size: 150%;
  }
}
@media (max-width: 900px) {
    body{
      background-size: 230%;
  }
}