h1,h2,h3{
	text-align: center;
	color:#45465e;
}
h2{
	text-decoration: underline;
}
body{
	background-color: #babce8;
}
h1,#ras-1,#ras-2,#ras-3,#ras-4{
	border: solid 2px #2a2b3b;
	color:#babce8;
	background-color:#45465e;
}
a{
	color: #babce8;
}
.a-2{
	color:  #2a2b3b;
}
p{
	font-style: italic;
	font-weight: bold;
}