@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
  font-family: "ProximaNova_Regular", sans-serfif;
}
section {
  padding: 10rem 0;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  height: 7rem;
  line-height: 7rem;
  font-family: "ProximaNova_Bold", sans-serfif;
  color: #292929;
  font-size: 2rem;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #f7af01;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #de9d01;
}
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/bg.png) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 12rem;
}
.main-title {
  font-family: "ProximaNova_Regular", sans-serfif;
}
.main-title h1 {
  margin-top: 0;
  margin-bottom: 4.3rem;
  font-family: "ProximaNova_Bold", sans-serfif;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-title p {
  margin-bottom: 4.3rem;
  font-size: 2.4rem;
  line-height: 1.3;
}
.main-title span {
  margin-bottom: 3rem;
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  text-align: center;
  color: #ffffff;
  background-color: #46b814;
}
.main-title strong {
  font-size: 3rem;
}
.main-title .payment-description {
  display: block;
  font-family: "ProximaNova_Bold", sans-serfif;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.main-form {
  padding: 4rem 5rem;
  text-align: center;
  background-color: #ffffff;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-family: "ProximaNova_Bold", sans-serfif;
}
.main-form-input {
  display: block;
  width: 100%;
  margin: 2rem 0;
  padding: 1.7rem;
  border: 1px solid #dddddd;
}
.main-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.main-form-btn {
  display: block;
  width: 100%;
  height: 6rem;
  margin-top: 0.8rem;
  font-size: 1.6rem;
}
.main-form small {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  display: block;
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block,
  .main-title {
    text-align: center;
  }
  .main-title {
    padding-bottom: 3rem;
  }
  .main-content {
    margin-top: 4rem;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .logo {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .button {
    text-align: center;
    height: 5rem;
    border-right: 8px;
  }
  .main-title {
    margin-top: 3rem;
  }
}
