@font-face {
  font-family: 'Livingstone';
  src: url('../fonts/Livingstone.eot');
  src: url('../fonts/Livingstone.eot?#iefix') format('embedded-opentype'), url('../fonts/Livingstone.woff2') format('woff2'), url('../fonts/Livingstone.woff') format('woff'), url('../fonts/Livingstone.ttf') format('truetype'), url('../fonts/Livingstone.svg#Livingstone') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: url(../img/bg.jpg) top center repeat;
}
h1 {
  text-align: center;
  font-family: "Livingstone", sans-serif;
  font-size: 50px;
  color: #41301f;
}
.fotorama {
  display: table;
  margin: 0 auto;
}
