@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap&subset=cyrillic');
@font-face {
    font-family: 'Campus Marine Up';
    src: url('CampusMarineUp.eot');
    src: url('CampusMarineUp.eot?#iefix') format('embedded-opentype'),
        url('CampusMarineUp.woff2') format('woff2'),
        url('CampusMarineUp.woff') format('woff'),
        url('CampusMarineUp.ttf') format('truetype'),
        url('CampusMarineUp.svg#CampusMarineUp') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'EuroScript';
    src: url('EuroScript.eot');
    src: url('EuroScript.eot?#iefix') format('embedded-opentype'),
        url('EuroScript.woff2') format('woff2'),
        url('EuroScript.woff') format('woff'),
        url('EuroScript.ttf') format('truetype'),
        url('EuroScript.svg#EuroScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

.f-1{
	font-family: 'Open Sans', sans-serif;
}

.f-2{
	font-family: 'Campus Marine Up', sans-serif;
}
.f-3{
	font-family: 'Lato', sans-serif;
}
.f-4{
	font-family: 'EuroScript', sans-serif;
}
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
